.toDoWrap {
    display: inline-flex;
    flex-direction: column;
    border: 1px solid gray;
    background: white;
    color: darkslategrey;
    padding: .6rem .9rem;
    margin: .6rem .6rem;
    width: 25rem;
}

.toDoCaptionWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.toDoListLength {
    font-size: .75rem;
    color: gainsboro;
}

.toDoCaption {
    font-size: 1rem;
}

.toDoInput {
    margin-bottom: 1.5rem;
}